@font-face {
  font-family: 'Baloo Thambi';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Thambi Regular'), local('BalooThambi-Regular'), url(../fonts/va9B4kXJzNhTFoA7CYcS8sHeRhf_.ttf) format('truetype');
}
